# Node.js
node_modules/
npm-debug.log*
yarn-error.log
dist/
.env

# React frontend build
frontend/build/
frontend/node_modules/

# Backend node modules and build
fairbid-backend/node_modules/
fairbid-backend/.env

# Starknet artifacts
starknet/.cairo_contracts/
starknet/build/
starknet/__pycache__/
starknet/.venv/

# System files
.DS_Store
Thumbs.db